<h3>New Tweet!</h3>
<form class="tweet-compose" data-tweets-ul="#feed" style="margin:0 auto; width: 100%;">
   
  <div class="form-group" style="margin-bottom: 0px;"> 
  <label for="tweet_content">Content</label>
  <input type="text"
         name="tweet[content]"
         id="tweet_content" 
		 class="form-control" rows="2">
  </div>
  <div class="row">
  <div id="charleft" class="col-xs-3 col-xs-offset-9">
    <strong class="chars-left">140 </strong> chars left
  </div>
  <div class="col-xs-9">
  <label>
    Mention
    <script type="text/template">
      <div>
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <a href="javascript:void(0)" class="remove-mentioned-user">Remove Mention</a>
      </div>
    </script>
  </label>
  <a href="javascript:void(0)" class="add-mentioned-user">Add a Mention</a>
  <br>
  <div class="mentioned-users">
  </div>
</div> <!-- close col for mention -->
</div> <!-- close row -->
<br>
  <input type="Submit" value="Post Tweet!" class="btn btn-primary">
</form>
