<h1>Search!</h1>

<div class="users-search">
    <label for="search">
        Search
    </label>
    <input type="text" name="query" value="<%= @query %>" id="search">
    <ul class="users">
    </ul>    
</div>

