<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Twitter Clone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="http://linhbui.me">About Linh Bui</a></li>
		  <li><a href="https://github.com/linhbui/twitter_clone">Check Out The Code</a></li>
		  <li><%= link_to "Search User", search_users_url %></li>
        <% if current_user %>

    		<li><%= link_to "Feed", feed_url %></li>           
            <li>
                <form action="/session"
                      method="POST"
                      >
                    <input type="hidden"
                           name="authenticity_token"
                           value="<%= form_authenticity_token %>">
                    <input type="hidden"
                           name="_method"
                           value="DELETE">
                    <input type="submit", value="Sign Out" id="sign-out-button">
                </form>
            </li>
        <% else %>
            <li><a href="/session/new">Sign In</a></li>
            <li><a href="/users/new">Sign Up</a></li>
        <% end %>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>